<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Academy</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Container for aside and main -->
<div class="container">
    <!-- Aside Section (Navigation Bar) -->
    <aside>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a th:href="@{/contactus}">Contact</a></li>
            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main>
        <h1>Welcome to the Java Academy</h1>
        <p>You will learn foundations of Java, OOPs, Spring Boot and Spring MVC here. Below is a link to the registration page:</p>
        <p th:text="${message}">Let's get started</p>
        <a th:href="@{/registration}">Go to Registration Page</a>
        <br>
        <a th:href="@{/upload}">Upload File</a>
        <br>
        <a th:href="@{/register1}">Secure Register</a>
        <br>
        <a th:href="@{/greet}">Greet Me</a>
        <br>
        <a th:href="@{/home}">View my RBAC view</a>
    </main>
</div>

<!-- Footer -->
<footer>
    <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> Java Academy. All rights reserved.</p>
</footer>
</body>
</html>